<div class="justify-content-center m-3">
      <div class="row" *ngIf="studientsData.length >= 1">
        <div class="col-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Groupe</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let studient of studientsData">
                <th scope="row">{{ studient.id }}</th>
                <td>{{ studient.name }}</td>
                <td *ngIf="studient.group; else elseTemplate">{{ studient.group }}</td>
                <ng-template #elseTemplate>
                  -
                </ng-template>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>